language: python

sudo: false

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy"
  - "pypy3.5"

env:
  - PYYAML_VERSION="3.13"
  # - PYYAML_VERSION="4.1"  # this was pulled from the index (!) ..wtf, Ingy?
  - PYYAML_VERSION="4.2b4"

matrix:
  fast_finish: true
  allow_failures:
  - python: "nightly"
  include:
    - python: 3.7
      dist: xenial
      sudo: true

install: 
  - pip install pyyaml~=$PYYAML_VERSION
  - pip install --editable .
  - pip install pytest-cov coveralls

script: 
  - pip freeze
  - pytest --cov=oyaml

after_success:
  - coverage combine
  - coveralls

notifications:
  email: false
